@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 98%;
    /* Light Gray for background */
    --foreground: 240 10% 3.9%;
    /* Dark Gray for text */
    --card: 0 0% 100%;
    /* White for cards */
    --primary: 221 83% 53%;
    /* Apple-like Blue */
    --primary-foreground: 0 0% 100%;
    /* White for text on primary color */
    --muted: 240 5% 90%;
    /* Muted gray for borders/dividers */
  }

  .dark {
    /* Add dark mode colors if needed in the future */
  }
}